:root{

	--def-font: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
.navbar{
	height: 10vh;
	width: 100%;
	z-index: 1;
	background-color: hsl(var(--colbrand-val));
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-inline: min(2rem,5%);
	color: white;
}
.brand{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	width: 30%;
	gap: 1rem;
}
.brand>img{
	height: 8vh;
	aspect-ratio: 1/1;
}
.brand>span{
	font-size: 1.5rem;
}
.nav-links{
	display: flex;
	--bs-link-color-rgb: 255,255,255;
}
.nav-links>a{
	text-decoration: none;
	color: rgb(var(--bs-link-color-rgb)) !important;
	font-size: 1.1rem;
	padding-inline: .5rem;
	transition: .3s ease-in ;
	background-image: linear-gradient(to right,hsl(var(--hr-col)),hsl(var(--hr-col)));
	background-repeat: no-repeat;
	background-size: 0% 3px;
	background-position: bottom center;
}
a:hover,a:active,a:focus{
	color: hsl(var(--hr-col)) !important;
	background-size: calc(100% - 1rem) 3px;
}
.nav-links:has(:hover,:focus) a:not(:hover,:focus){
	color: rgb(var(--bs-link-color-rgb),.5) !important;
}
.prog.container-fluid{
	height: 3px;
	background-color: hsl(var(--hr-col));
	transform: scaleX(0);
	transform-origin: left;
	animation: prog linear;
	animation-timeline: scroll();
	position: sticky;
	top: 0;
	z-index: 2;
}
@keyframes prog {
	to{transform: scaleX(1);}
}