.oswald-font {
	font-family: "Oswald", sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
}
.oswald-font-100 {
	font-family: "Oswald", sans-serif;
	font-optical-sizing: auto;
	font-weight: 100;
	font-style: normal;
}
.oswald-font-200 {
	font-family: "Oswald", sans-serif;
	font-optical-sizing: auto;
	font-weight: 200;
	font-style: normal;
}
.oswald-font-300 {
	font-family: "Oswald", sans-serif;
	font-optical-sizing: auto;
	font-weight: 300;
	font-style: normal;
}
.oswald-font-400 {
	font-family: "Oswald", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}
.oswald-font-500 {
	font-family: "Oswald", sans-serif;
	font-optical-sizing: auto;
	font-weight: 500;
	font-style: normal;
}
.oswald-font-600 {
	font-family: "Oswald", sans-serif;
	font-optical-sizing: auto;
	font-weight: 600;
	font-style: normal;
}
.oswald-font-700 {
	font-family: "Oswald", sans-serif;
	font-optical-sizing: auto;
	font-weight: 700;
	font-style: normal;
}
.oswald-font-800 {
	font-family: "Oswald", sans-serif;
	font-optical-sizing: auto;
	font-weight: 800;
	font-style: normal;
}
.oswald-font-900 {
	font-family: "Oswald", sans-serif;
	font-optical-sizing: auto;
	font-weight: 900;
	font-style: normal;
}
