.prog.container-fluid{
	height: 3px;
	background-color: hsl(var(--hr-col));
	transform: scaleX(0);
	transform-origin: left;
	animation: prog linear;
	animation-timeline: scroll();
	position: sticky;
	top: 0;
	z-index: 2;
}
@keyframes prog {
	to{transform: scaleX(1);}
}