#work {
	display: grid;
	place-items: center;
}
.block-title {
	width: 100%;
	text-align: center;
	position: relative;
	margin-block: 1rem 0;
}
.block-title > span {
	color: white;
	font-size: 3rem;
	width: 10%;
	z-index: 1;
	position: relative;
	padding-inline: 0.5rem;
	background-color: hsl(var(--colbrand-val));
}
.block-title:before {
	content: "";
	display: block;
	position: absolute;
	top: 50%;
	height: 0.25rem;
	width: 100%;
	background-color: hsl(var(--hr-col));
	z-index: 0;
}
.gallery {
	width: 98%;
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	padding: 1rem;
}
